<style>
  .sprites-container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--brand-2-300)
  }
  .sprites-second-svg-container {
    height: 100%;
    right: 0;
    position: absolute;
  }
  .pink-sprites-background-logo-letters {
    position: absolute;
    height: 6.4rem;
    top: 50%;
    transform: translateY(-50%);
    left: 4rem;
  }
</style>



<div class="sprites-container">
  <div class="sprites-second-svg-container">
    {{ 'logo-letters.svg' | asset_url | img_tag: 'Logo letters', "pink-sprites-background-logo-letters" }}
    <svg
      width="253"
      height="96"
      viewBox="0 0 253 96"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M127 0H269.5V96H0L127 0Z" fill="#E3B1BE" />
      <path
        d="M127 0H269.5V96H0L127 0Z"
        fill="white"
        fill-opacity="0.42" />
    </svg>
  </div>

</div>