<div class="new-test__grid-container">
  <div class="new-test__grid-container"</div>
<div class="new-test__grid-container"</div>

  
</div>




{% schema %}
{
  "name": "New test",
  "settings": [],"presets":[{"name":"Name from presets"}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
