<div class="shogun-root" data-shogun-id="63ea3a60faf02b00c84333ce" data-shogun-site-id="9005228f-31ff-4786-ab50-42f06c125f89" data-shogun-section-id="63ea3a60faf02b00c84333ce" data-shogun-section-version-id="63ea3a94faf02b00d8443a92" data-shogun-platform-type="shopify" data-shogun-variant-id="63ea3a97faf02b00d8443b03" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/63ea3a97faf02b00d8443b03.css" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-37301984-fa13-46ab-b5d1-220f418d8a59"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
  <div
    class="shg-c  "
    id="s-8b236aee-8169-4864-bb68-76a7b20b9f9e"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-40d02fc1-4c4e-44c4-831f-4b9c9690713e"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-a3891ddb-6e1e-4961-8bdb-7e821f92030b"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h2>
    
      Wprowadzenie do marki
    
  </h2>
</div>

</div>
<div id="s-ac9b54f3-d677-4d7b-9e48-d2c94a4e02e3"  class="shg-c  ">
  <div
  class="shg-rich-text shg-default-text-content"><p><span style="color: #000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet ac magna vel hendrerit. Praesent congue commodo sapien vitae tincidunt.</span></p>
<p><span style="color: #000000;">Morbi justo diam, tincidunt at ornare at, egestas a eros. Interdum et malesuada fames ac ante ipsum.</span></p></div>

</div>
<div id="s-1b0a03b4-2b15-4f15-b578-7472417c73e0-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-left" >
  <a
    id="s-1b0a03b4-2b15-4f15-b578-7472417c73e0"
    class="shg-btn shg-cse "
    href=""
    >
      Dowiedz się więcej
  </a>
</div>

      </div>
    </div>
  </div></div>
      <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-57bb581b-7b62-461f-8a2e-c51ff9ee03de"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
      </div>
    </div>
  </div></div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>
<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-01-13/global-assets-d7d94243591ce7f6ff4e51c004b5cde54aa1839b.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Test",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=63ea3a60faf02b00c84333ce&shop=lets-ec.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Test",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
