<div class="shogun-root" data-shogun-id="63ff39907d4b03010d52cdbc" data-shogun-site-id="9005228f-31ff-4786-ab50-42f06c125f89" data-shogun-section-id="63ff39907d4b03010d52cdbc" data-shogun-section-version-id="63ff3ab5bcfa4c00db633236" data-shogun-platform-type="shopify" data-shogun-variant-id="63ff3ab5bcfa4c00db63327d" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-02-28/63ff3ab5bcfa4c00db63327d.css" />

<link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/shogun-font-awesome.min.css" />



  <div
    class="shg-c  "
    id="s-4f52e5a2-c9fa-40e4-8ef6-fdfb4ef290b0"
    >
    <div class="shg-row" data-col-grid-mode-on="">
      <div class="shg-c-lg-3 shg-c-md-3 shg-c-sm-3 shg-c-xs-12"><div id="s-1d2435d6-83ce-4a6c-ac37-d9f1fd98ecc0"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h2>
    
      Zobacz nasz instagram
    
  </h2>
</div>

</div>
<div id="s-02cadec2-a0c9-46f8-ac56-aa1f3bc796f4"  class="shg-c  shg-align-center">
  <div class="shg-social-alignable">
  <div class="shg-social-container" data-color="#000" data-size="medium" data-gutter="10px" data-orientation="horizontal" data-in-new-tab="true">
    
      <a class="shg-social-element" data-icon="instagram" data-link="https://www.instagram.com/hova_box/"></a>
    
  </div>
</div>

</div>
<div id="s-5047a049-1337-4205-a304-38b5e9ed67c1"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p>Nasze social media obsługuje Kinga</p></div>

</div>


<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-b4040aa9-0112-4a46-9750-3135fbb76471">
  
    
      <img
        src="https://i.shgcdn.com/7ea64337-3822-444e-9f25-a035e84c32c8/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
        width=""
        height=""
        style=""
        alt=""
        class="shogun-image "
      />
    
  
  
  
  
    <img style="display:none" class="shogun-image-unsplash-tracker" src="https://views.unsplash.com/v?app_id=226925&photo_id=XkJxtZ7igPQ" />
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-b4040aa9-0112-4a46-9750-3135fbb76471' })
</script>
</div>
      <div class="shg-c-lg-9 shg-c-md-9 shg-c-sm-9 shg-c-xs-12"><div id="s-9e1fd61a-5c5d-4169-86a0-4efac6f00a1e"  class="shg-c  ">
  <div class="shg-ig-x">
  <div
    class="shg-ig-posts-container"
    data-in-new-window="true"
    data-hide-text="true"
    data-vertical-gutter="10px"
    data-square-thumbnails="true"
    data-api-path="https://social.getshogun.com/api/instagram/posts?site_id=9005228f-31ff-4786-ab50-42f06c125f89&count=3&uid=6779233805436309">
  </div>
</div>

</div>
</div>
      
      
      
      
    </div>
  </div>


<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-02-28/global-assets-ba1cd45b811b42aa44edf81e1147bfc0b5b18099.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Instagram",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=63ff39907d4b03010d52cdbc&shop=lets-ec.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Instagram",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
