<div class="shogun-root" data-shogun-id="63ff2f2fbcfa4c00d3629495" data-shogun-site-id="9005228f-31ff-4786-ab50-42f06c125f89" data-shogun-section-id="63ff2f2fbcfa4c00d3629495" data-shogun-section-version-id="63ff3055bcfa4c01086375aa" data-shogun-platform-type="shopify" data-shogun-variant-id="63ff3055bcfa4c01086375e5" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-02-28/63ff3055bcfa4c01086375e5.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:700|Open+Sans:600" />


<div id="s-bdde9aa1-4cb1-41d4-ae8c-99a80a0f22ea" class="shg-c shg-category " >
  <script type="text/javascript">
    window.__shgCategoryInits = window.__shgCategoryInits || new Array();
  </script>

  <div class="shg-category-grid">
    
  </div>

  <script type="text/javascript">
    window.__shgCategoryInits.push({
      uuid: "s-bdde9aa1-4cb1-41d4-ae8c-99a80a0f22ea",
      handle: "promocje",
      apiUrl: "https://getshogun.com/api/categories/63eb359e4fbfae0002877ea8/products?site_id=9005228f-31ff-4786-ab50-42f06c125f89",
      platform: "shopify",
      
      authToken: "eyJhbGciOiJIUzI1NiJ9.eyJzaXRlX2lkIjoiOTAwNTIyOGYtMzFmZi00Nzg2LWFiNTAtNDJmMDZjMTI1Zjg5IiwiY2F0ZWdvcnlfaWQiOiI2M2ViMzU5ZTRmYmZhZTAwMDI4NzdlYTgifQ.h6oTnEWVX9S8z7ORLe7MPhsq4DNOrC13SPx0TeJO1c8",
      guestCodeEnabled: true,
      selectedVariants: {}
    });
  </script>
</div>

<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-52e349c8-7f3f-4673-a30e-75d81b32e540"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-8a29693c-5e36-4c17-893c-875c8141e33a"  class="shg-c  shg-align-left">
  <div
  class="shogun-heading-component">
  <h1>
    
      Demo Heading
    
  </h1>
</div>

</div>
<div id="s-c968824e-166f-47ea-92d7-4cc941264ca1-btn-wrapper" class="shg-c shg-btn-wrapper  shg-align-left" >
  <a
    id="s-c968824e-166f-47ea-92d7-4cc941264ca1"
    class="shg-btn shg-cse "
    href=""
    >
      DEMO BUTTON
  </a>
</div>

      </div>
    </div>
  </div>
<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-02-28/global-assets-ba1cd45b811b42aa44edf81e1147bfc0b5b18099.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Sekcja PB",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=63ff2f2fbcfa4c00d3629495&shop=lets-ec.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Sekcja PB",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
