input,
input:focus,
input:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
}



footer * {
    margin: 0;
}

footer {
    position: relative;
    color: var(--neutrals-500);
    font-size: 1.4rem;
    line-height: 2rem;
    border-top: 1px solid var(--neutrals-350);
}

footer a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: max-content;
}

footer h3 {
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--neutrals-600);
}

.footer__chevron-down {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;
}

.footer__chevron-down>svg {

    transition: transform .26s ease-in-out;
}



.footer__chevron-down.active>svg {
    transform: rotate(180deg);
}

.footer__collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease 0s;
}

.footer__collapsible-header a {
    padding-bottom: 0;
}

.footer__collapsible-content.expand {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease 0s;

}

small {
    font-size: 1.4rem;
    line-height: 2.0rem;
}


.footer__sections-container {
    flex-direction: column;
    padding: 2.4rem 1.6rem;

}

.footer__first_section span {
    display: block;
}

.footer__first_section p {
    margin-bottom: 1.1rem;

}

.footer__collapsible-header {
    padding: 2rem 0 0;
}

.footer__second_section a,
.footer__third_section a {
    margin-bottom: .4rem;
}


.footer__watch-us-span {
    display: none;
}

.footer_social-links-container {
    width: min-content;
    margin: 1.6rem auto;
    gap: 2.4rem;
    color: var(--neutrals-600);
}

.footer__social-link {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__pink-nav-sprite {
    top: 0;
    left: -63rem;
    height: 303px;
    position: absolute;
    z-index: -1;
    display: none;
}

.footer__logo-letters {
    position: absolute;
    left: 2.5rem;
    top: 2rem;
    height: 16.4rem;
    display: none;
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
}

form>div {
    flex-grow: 1;
    border: 1px solid var(--neutrals-500);
    padding: 1.2rem;
}

form>button {
    color: var(--neutrals-000);
    background-color: var(--brand-1-300);
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.8rem 4.725rem;

}

.footer__mobile-top-bar {
    height: 9.6rem;
}

.header__desktop-bottom-link a {
    color: inherit;
}

@media only screen and (min-width:768px) {
    form {
        flex-direction: row;
        margin-bottom: 0;
    }

}



@media only screen and (min-width:1180px) {

    .footer__sections-container {
        flex-direction: row;
        padding: 3.2rem 10.9rem 6.4rem 0;
        justify-content: flex-end
    }

    .footer__first_section {
        max-width: 41.6rem;

    }

    .footer__first_section p {
        margin-bottom: 1.6rem;

    }

    footer h3 {
        margin-bottom: .2rem;
    }

    .footer__second_section span {
        margin-bottom: .4rem;
    }



    .footer_social-links-container {
        color: var(--brand-1-300);
    }

    .footer__watch-us-span {
        display: block;
    }

    small {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    footer h3 {
        font-size: 1.6rem;
    }

    .footer__pink-nav-sprite {
        display: block;
    }

    .footer__logo-letters {
        display: block;
    }

    .footer__mobile-top-bar {
        display: none;
    }

    .footer__chevron-down {
        display: none;
    }

    .footer__collapsible-content {
        max-height: none;
    }

    footer {
        height: 36.5rem;
    }
}


@media only screen and (min-width:1440px) {

    .footer__first_section {
        justify-content: center;
    }

    .footer__pink-nav-sprite {
        left: -47rem;
    }

    .footer__logo-letters {
        left: 105px;
        top: 86px;
    }

    .footer__sections-container {
        padding: 3.2rem 10.9rem 6.4rem 0;
        gap: 64px;
    }


}