.section-bullets {
  width: 100%;
  background: #fff;

  .bullets-wrapper {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    padding: 42px 0;
  }

  @media (max-width: 1256px) {
    .bullets-wrapper {
      padding: 42px 16px;
    }
  }

  .bullets-heading {
      text-align: center;
      margin-bottom: 8px;
    }

  .bullets-heading h2 {
      margin: 0;
    }

  .bullets {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
    }
}