.sectionTabs {
    width: 100%;
    background: #fff;
    /* background: var(--neutrals-100); */
    padding: 32px 0 42px;

  /* @media (max-width: 1256px) {
    padding: 42px 16px;
  } */
}

.singleTab__wrapper {
  position: relative;
  /* height: 815px; */
  /* display: flex; */
  /* padding: 88px; */
  max-width: 1224px;
  margin: 0 auto;
}

.singleTab__wrapper.up-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.singleTab__wrapper.up-center {
  justify-content: center;
  align-items: flex-start;
}

.singleTab__wrapper.up-right {
  justify-content: flex-end;
  align-items: flex-start;
}

.singleTab__wrapper.middle-left {
  justify-content: flex-start;
  align-items: center;
}

.singleTab__wrapper.middle-center {
  justify-content: center;
  align-items: center;
}

.singleTab__wrapper.middle-right {
  justify-content: flex-end;
  align-items: center;
}

.singleTab__wrapper.down-left {
  justify-content: flex-start;
  align-items: flex-end;
}

.singleTab__wrapper.down-center {
  justify-content: center;
  align-items: flex-end;
}

.singleTab__wrapper.down-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.singleTab__image {
  height: 482px;
  /* position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

.singleTab__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singleTab__content {
  padding: 32px 16px;
  background: var(--neutrals-100);
  /* max-width: 360px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16px 0;
  max-height: 325px; */
  /* z-index: 1; */
}

.singleTab__content h5 {
  margin: 0 !important;
  font-family: var(--font-body-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px; 
  letter-spacing: 0.18px;
}

.singleTab__content h2 {
  margin: 8px 0 16px !important;
  font-family: Raleway;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
}

.singleTab__content p {
  margin: 0 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* text-align: center; */
}

.singleTab--button {
  margin: 28px 0 0;
  /* margin: 16px 0 0; */
}

.singleTab--button a {
  max-width: 328px;
  width: 100%;
  padding: 12px 20px;

  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.21px;
  text-transform: uppercase;
  /* padding: 18px 10px;
  font-size: 10px;
  font-weight: 800;*/
}