.sectionTabs {
    width: 100%;
    background: var(--neutrals-100);
    padding: 58px 0;

  @media (max-width: 1256px) {
    padding: 42px 16px;
  }
}

.singleTab__wrapper {
  position: relative;
  height: 815px;
  display: flex;
  padding: 88px;
  max-width: 1224px;
  margin: 0 auto;
}

.singleTab__wrapper.up-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.singleTab__wrapper.up-center {
  justify-content: center;
  align-items: flex-start;
}

.singleTab__wrapper.up-right {
  justify-content: flex-end;
  align-items: flex-start;
}

.singleTab__wrapper.middle-left {
  justify-content: flex-start;
  align-items: center;
}

.singleTab__wrapper.middle-center {
  justify-content: center;
  align-items: center;
}

.singleTab__wrapper.middle-right {
  justify-content: flex-end;
  align-items: center;
}

.singleTab__wrapper.down-left {
  justify-content: flex-start;
  align-items: flex-end;
}

.singleTab__wrapper.down-center {
  justify-content: center;
  align-items: flex-end;
}

.singleTab__wrapper.down-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.singleTab__image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.singleTab__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singleTab__content {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  max-height: 325px;
  z-index: 1;
}

.singleTab__content h5 {
  margin: 0 !important;
}

.singleTab__content h2 {
  margin: 8px 0 16px !important;
}

.singleTab__content p {
  margin: 0 !important;
}

.singleTab--button {
  margin: 16px 0 0;
}

.singleTab--button a {
  padding: 18px 10px;
  font-weight: 800;
  text-transform: uppercase;
}